body.theme-dark {
  color: #ccc;

  .md-paper.section {
    background-color: $md-grey-800;
  }

  ul > li.book:hover {
    background-color: #3f3f46;
  }

  ul.list-grid > li.book > div.overlay {
    background-color: rgba(0, 0, 0, 0.85);
  }

  span.chip {
    background-color: #252526;
  }

  span.reader-dialog.container {
    section.book-content-search > ul.matches > li.match:hover {
      background-color: $md-grey-700;
    }

    section.manage-annotations.find div.discover li.set:hover {
      background-color: $md-grey-700;
    }
  }
}
